{{- if .Values.tdr.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "tdr.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tdr.labels" . | nindent 4 }}
data:
  falco.yaml: |-
    {{- include "tdr.engineConfiguration" . -}}
    {{- include "tdr.containerPlugin" . -}}
    {{- $falcoConfig := deepCopy .Values.tdr.falco }}
    {{- $url := printf "http://%s:%d/detection" (include "kubernetes-agent.fullname" .) (int .Values.tdr.port) }}
    {{- $_ := set $falcoConfig.http_output "url" $url }}
    {{- toYaml $falcoConfig | nindent 4 }}
{{- end }}
