agent:
  image:
    repository: 'public.ecr.aws/aikido-cloud/kubernetes-agent'
    pullPolicy: IfNotPresent
    tag: 'v1.5.1'
  service:
    port: 8091
    metricsPort: 8080
  controllerCacheSyncTimeout: '30m'
  externalSecret: ''
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 500m
      memory: 2Gi # Only Mi and Gi are supported

sbomCollector:
  image:
    repository: 'public.ecr.aws/aikido-cloud/kubernetes-sbom-collector'
    pullPolicy: IfNotPresent
    tag: 'v1.0.1'
  # If set to true, the agent will run the SBOM collector as a daemonSet.
  # Otherwise, it will run it as a deployment.
  # If sbomCollector.enabled is set to false, no replicas will be created.
  # The DaemonSet/Deployment is always created to support enabling image scanning
  # without requiring helm upgrade.
  runAsDaemonSet: true
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
      ephemeral-storage: 500Mi
    limits:
      cpu: 750m
      memory: 5Gi # Only Mi and Gi are supported
      ephemeral-storage: 5Gi
  daemonSetTolerations:
    # these tolerations are to have the daemonset runnable on control plane nodes
    # remove them if your control plane nodes should not run pods
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
    - key: node-role.kubernetes.io/master
      operator: Exists
      effect: NoSchedule
  securityContext:
    runAsUser: 0
    runAsGroup: 0
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
  # Access to image pull secrets for SBOM generation
  # The SBOM collector needs to read container images to generate SBOMs.
  # When images are pulled from private registries, the collector requires
  # access to the same image pull secrets that pods use.
  secretsAccess:
    # Enable access to image pull secrets
    enabled: true
    # List of specific image pull secret names to grant access to.
    # If empty, the collector will have access to all secrets in the cluster.
    # Recommended: specify only the secrets actually used by pods' imagePullSecrets
    # to follow the principle of least privilege.
    imagePullSecretNames: []

config:
  apiToken: ''
  apiEndpoint: 'https://k8s.aikido-security.com'
  # HTTP proxy configuration
  proxy:
    # HTTP proxy URL (e.g., http://proxy.company.com:8080)
    httpProxy: ''
    # HTTPS proxy URL (e.g., http://proxy.company.com:8080)
    httpsProxy: ''
    # Comma-separated list of hosts to bypass proxy (e.g., localhost,127.0.0.1,.local)
    noProxy: ''

imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''

networkPolicy:
  enabled: true

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ''

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
# fsGroup: 2000

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

healthCheck:
  port: 8081

nodeSelector: {}

affinity: {}

tolerations: []

additionalEnvVars: []
