{{- if eq .Values.sbomCollector.runAsDaemonSet false }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: 'aikido-kubernetes-sbom-collector'
  labels:
    app.kubernetes.io/version: {{ .Values.sbomCollector.image.tag }}
spec:
  replicas: 0
  selector:
    matchLabels:
      aikido-security: kubernetes-sbom-collector
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- if .Values.podAnnotations }}
        {{- toYaml .Values.podAnnotations | nindent 8 }}
        {{- end }}
      labels:
        aikido-security: kubernetes-sbom-collector
        app.kubernetes.io/version: {{ .Values.sbomCollector.image.tag }}
        {{- include "kubernetes-agent.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kubernetes-agent.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.sbomCollector.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Values.sbomCollector.name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.sbomCollector.image.repository }}:{{ .Values.sbomCollector.image.tag }}"
          imagePullPolicy: {{ .Values.sbomCollector.image.pullPolicy }}
          args: ["-health-probe-bind-address=:{{ .Values.healthCheck.port }}"]
          env:
            - name: AGENT_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: AGENT_URL
              value: http://{{ include "kubernetes-agent.fullname" . }}:{{ .Values.agent.service.port }}
            - name: GOMEMLIMIT
              value: "{{ include "kubernetes-sbom-collector.goMemLimit" . }}"
          ports:
            - name: health
              containerPort: {{ .Values.healthCheck.port }}
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: 90
            httpGet:
              path: /healthz
              port: health
          readinessProbe:
            initialDelaySeconds: 90
            httpGet:
              path: /readyz
              port: health
          resources:
            {{- toYaml .Values.sbomCollector.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /tmp
              name: tmp
            - mountPath: /.ecr
              name: ecr-cache-config
            - name: docker-sock
              mountPath: /var/run/docker.sock
            - name: containerd-sock
              mountPath: /run/containerd/containerd.sock
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: tmp
          emptyDir: { }
        - name: ecr-cache-config
          emptyDir: { }
        - name: docker-sock
          hostPath:
            path: /var/run/docker.sock
        - name: containerd-sock
          hostPath:
            path: /run/containerd/containerd.sock
{{- end }}
