apiVersion: v1
kind: Service
metadata:
  name: {{ include "kubernetes-agent.fullname" . }}
  labels:
    {{- include "kubernetes-agent.labels" . | nindent 4 }}
spec:
  selector:
    aikido-security: kubernetes-agent
  ports:
    - name: api-agent-port
      protocol: TCP
      port: {{ .Values.agent.service.port }}
      targetPort: api-port
    - name: metrics-agent-port
      protocol: TCP
      port: {{ .Values.agent.service.metricsPort }}
      targetPort: metrics-port
    {{- if .Values.threatdetection.enabled }}
    - name: tdr-gateway
      protocol: TCP
      targetPort: tdr-gateway
      port: {{ .Values.agent.service.threatDetectionPort }}
    {{- end }}
