{{- if .Values.threatdetection.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "threat-detection.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "threat-detection.labels" . | nindent 4 }}
data:
  falco.yaml: |-
    {{- include "threat-detection.engineConfiguration" . -}}
    {{- include "threat-detection.containerPlugin" . -}}
    {{- $falcoConfig := deepCopy .Values.threatdetection.falco }}
    {{- $url := printf "http://%s:%d/detection" (include "kubernetes-agent.fullname" .) (int .Values.agent.service.threatDetectionPort) }}
    {{- $_ := set $falcoConfig.http_output "url" $url }}
    {{- toYaml $falcoConfig | nindent 4 }}
{{- end }}
